$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary Colours
$silver: #f5f5f5;
$darkGrey: #3f3f3f;
$blackText: #414141;
$lightGrey: #9b9b9b;

// //Secondary Colours
// $slate: #5c667e;
// $cloud: #bdc5d5;

// //Background Colours
// $graphite: #232940;
// $light-Grey: #f7f8f9;

// //Supporting Colours
// $green: #158463;
// $red: #c94515;
