@use "../../styles/partials/variables" as *;

.gyms {
  padding: 0 2rem;
  margin-bottom: 8rem;
}

.gym-link {
  text-decoration: none;
}

.gym {
  display: flex;
  background-color: $silver;
  border-radius: 5px;
  height: 12rem;
  color: $blackText;
  font-size: 1.3rem;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  margin: 2rem 0;

  &:hover {
    scale: 0.99;
  }

  &__img-container {
    height: 11.8rem;
  }

  &__img {
    height: 100%;
    border-radius: 5px 0 0 5px;
  }

  &__info {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
  }
}
